html,
body,
#root,
#root > div {
	height: 100%;
	background-image: url('https://picsum.photos/1920/1080');
}

.App {
	height: 100%;
	/* padding-top: 15%; */
}
.App__Auth_layout_wrapper {
	height: 100%;
	padding-top: 15%;
}

.App__Auth_layout {
	margin: auto;
	width: 400px;
	align-items: center;
	padding: 25% auto auto;
	border-radius: 10px;
}

.ant-layout.App__Auth_layout {
	background: rgba(255, 255, 255, 0.88) !important;
}
